anyascii
beautifulsoup4
certifi
charset-normalizer
click
Django
django-filter
django-modelcluster
django-taggit
django-treebeard
djangorestframework
draftjs-exporter
et-xmlfile
html5lib
idna
l18n
openpyxl
pep517
Pillow
pip-tools
pytz
requests
six
soupsieve
sqlparse
tablib
telepath
tomli
urllib3
wagtail
webencodings
Willow
xlrd
XlsxWriter
xlwt
black
isort
dj_database_url
python-dotenv